


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(stockvault-black-and-purple-gradient-background279149.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    min-height: 100vh;
    line-height: 1.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

